body{
  background-color: #2c3e50;
}
 
.btn{
  cursor: pointer;
}

body {
  font-size: 50px;
  font-family: 'Itim', cursive;
  text-align: center;
  /* text-shadow: -1px 0 black, 0 1px black, 0 -1px black; */
  color: #FFFFFF;
}

.clock{
  font-family: Helvetica, sans-serif;
  font-size: 80px;
}

h3 {
  margin: 300px 0px 5px 0px;
  text-shadow: 4px 4px 4px black;
  font-size: 42px;
  font-weight: 400;
}

h1{
  text-shadow: 5px 5px 5px black;
  margin: 0;
}

h4 {
  color: #FFFFFF;
  font-size: 40px;
  margin: 0;
  text-shadow: 3px 3px 3px black;
}

.form input{
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
}

.toDoList{
  margin: 0 auto;
  max-width: fit-content;
  text-align: left;
  text-shadow: 2px 2px 2px black;
}

li{
  list-style: none;
  font-size: 35px;
  margin-right: 50px;
}

li span{
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.clicked {
  color: #7f8cd7;
}

.form,
.greetings{
  display: none;
}

.form input{
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid white;
  outline: none;
}

.toDoForm input{
  font-size: 25px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  outline: none;
}

::placeholder{
  color:white;
}

.showing{
  display: block;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.bgImage{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  filter:brightness(0.5);
}



.wIcon{
  width: 75px;
  height: 75px;
  position: relative;
  top: 44px;
  margin-right: 20px;
}

.weather{
  font-size: 22px;
  margin-right: 25px;
  text-align: right;
  position: absolute;
  top: -40px;
  right: 0;
  text-shadow: 3px 3px 3px black;
}

